{% extends 'core/index.html' %}

{% block title %}
    Lista Turniejów
{% endblock %}

{% block content %}
<div class="container bg-light min-vh-100 my-5 p-4 rounded-4 shadow-sm">
    <h1 class="text-center fw-bold my-4 text-uppercase">Lista Turniejów</h1>

    <!-- Formularz wyszukiwania -->
    <form method="GET" class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="name" class="form-control" placeholder="Nazwa turnieju" value="{{ request.GET.name }}">
            </div>
            <div class="col-md-2">
                <input type="text" name="city" class="form-control" placeholder="Miasto" value="{{ request.GET.city }}">
            </div>
            <div class="col-md-2">
                <select name="region" class="form-control">
                    <option value="">Województwo</option>
                    {% for key, value in regions %}
                        <option value="{{ key }}" {% if request.GET.region == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="type" class="form-control">
                    <option value="">Typ Turnieju</option>
                    {% for key, value in types %}
                        <option value="{{ key }}" {% if request.GET.type == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select name="status" class="form-control">
                    <option value="">Status</option>
                    {% for key, value in statuses %}
                        <option value="{{ key }}" {% if request.GET.status == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Szukaj</button>
            </div>
        </div>
    </form>

    <!-- Wyświetlanie listy turniejów -->
    <table class="table table-hover table-bordered">
        <tbody class="border-warning border border-1">
        {% for month, tournaments in grouped_tournaments.items %}
            <tr class="bg-primary text-white">
                <td colspan="5" class="text-center h2 py-3 bg-danger">{{ month }}</td>
            </tr>
            <thead class="table-dark text-center">
            <tr>
                <th class="col-1">Data</th>
                <th class="col-4">Nazwa</th>
                <th class="col-1">Typ Turnieju</th>
                <th class="col-1">Tempo</th>
                <th class="col-1">Lokalizacja</th>
            </tr>
            </thead>
            {% for tournament in tournaments %}
                <tr class="{% if tournament.status == 'Nadchodzący' %}bg-danger text-white{% elif tournament.status == 'Trwający' %}bg-warning text-dark{% elif tournament.status == 'Zakończony' %}bg-success text-white{% endif %}">
                    <td class="text-center align-middle small">
                        {{ tournament.date_begin|date:"d M" }}<br>
                        <span class="badge {% if tournament.status == 'Trwający' %}bg-danger{% else %}bg-success{% endif %}">{{ tournament.status }}</span>
                    </td>
                    <td class="align-middle"><a href="{% url 'tournament_detail' tournament.id %}" class="text-info page-link">{{ tournament.name }}</a></td>
                    <td class="align-middle text-center">{{ tournament.type_of_tournament }}</td>
                    <td class="align-middle text-center">{{ tournament.pace }}</td>
                    <td class="align-middle text-center">
                        {{ tournament.region }}<br>{{ tournament.city }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
